* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1f2937;
}

.hero {
  background-color: #1f2937;
  padding: 0 max(calc((100% - 1000px) / 2), 24px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-links a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 90px 0 130px;
}

.hero-text {
  flex: 1;
}

.hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  line-height: 1;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 8px;
}

.btn {
  margin-top: 8px;
  padding: 8px 32px;
  font-size: 18px;
  font-weight: 700;
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #3882f6;
  border-radius: 8px;
  cursor: pointer;
}

.hero-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  background-color: #6d747d;
  color: #e5e7eb;
  font-style: italic;
  overflow: hidden;
  border-radius: 8px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sft {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 24px 100px;
  text-align: center;
}

.sft-heading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  width: 160px;
}

.card-image {
  height: 160px;
  border: 3px solid #3882f6;
  border-radius: 15px;
  overflow: hidden;
}

.card-image img,
.card-image video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-text {
  margin-top: 8px;
  color: #6d747d;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 100px max(calc((100% - 850px) / 2), 24px);
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote-author {
  margin-top: 8px;
  text-align: right;
  font-weight: 700;
  color: #1f2937;
}

.info-section {
  padding: 100px 24px;
}

.info{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  padding: 48px 100px;
  background-color: #3882f6;
  border-radius: 8px;
}

.info-title {
  font-size: 24px;
  color: #f9faf8;
}

.info-subtext {
  color: #e5e7eb;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #f9faf8;
  flex-shrink: 0;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  padding: 40px 0;
}
